body {
  font-family: Inter;
}
.display-1 {
  font-family: 'Inter', sans-serif;
  font-size: 4.375rem;
  line-height: 1.2;
}
.display-1 > .mbr-iconfont {
  font-size: 5.46875rem;
}
.display-2 {
  font-family: 'Inter', sans-serif;
  font-size: 2.75rem;
  line-height: 1.2;
}
.display-2 > .mbr-iconfont {
  font-size: 3.4375rem;
}
.display-4 {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.40625rem;
}
.display-5 {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  line-height: 1.2;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Inter', sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5625rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.5rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.0625rem;
    font-size: calc( 2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.2rem;
    font-size: calc( 1.6125rem + (2.75 - 1.6125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.6125rem + (2.75 - 1.6125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.9rem;
    font-size: calc( 1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.04375rem + (1.125 - 1.04375) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1rem;
    font-size: calc( 1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0875rem + (1.25 - 1.0875) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 60px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 60px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 60px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 60px;
}
.bg-primary {
  background-color: #08323c !important;
}
.bg-success {
  background-color: #0a2a3e !important;
}
.bg-info {
  background-color: #ffffff !important;
}
.bg-warning {
  background-color: #ffd263 !important;
}
.bg-danger {
  background-color: #fcb300 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #08323c !important;
  border-color: #08323c !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #d4fe00 !important;
  border-color: #d4fe00 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #8ca700 !important;
  border-color: #8ca700 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #000000 !important;
  background-color: #8ca700 !important;
  border-color: #8ca700 !important;
}
.btn-info,
.btn-info:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #545454 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #808080 !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-success,
.btn-success:active {
  background-color: #0a2a3e !important;
  border-color: #0a2a3e !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffd263 !important;
  border-color: #ffd263 !important;
  color: #634600 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #ffb90c !important;
  border-color: #ffb90c !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #634600 !important;
  background-color: #ffb90c !important;
  border-color: #ffb90c !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #fcb300 !important;
  border-color: #fcb300 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #a57500 !important;
  border-color: #a57500 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #a57500 !important;
  border-color: #a57500 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #08323c;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #08323c !important;
  border-color: #08323c !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #d4fe00;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #8ca700 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #000000 !important;
  background-color: #d4fe00 !important;
  border-color: #d4fe00 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffffff;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #d4d4d4 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #0a2a3e;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0a2a3e !important;
  border-color: #0a2a3e !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffd263;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffb90c !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #634600 !important;
  background-color: #ffd263 !important;
  border-color: #ffd263 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fcb300;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #a57500 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #fcb300 !important;
  border-color: #fcb300 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #08323c !important;
}
.text-secondary {
  color: #d4fe00 !important;
}
.text-success {
  color: #0a2a3e !important;
}
.text-info {
  color: #ffffff !important;
}
.text-warning {
  color: #ffd263 !important;
}
.text-danger {
  color: #fcb300 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #000000 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #7f9800 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #000000 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #cccccc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #fcb300 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #966b00 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #08323c;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #ffffff;
}
.alert-warning {
  background-color: #ffd263;
}
.alert-danger {
  background-color: #fcb300;
}
.mbr-gallery-filter li.active .btn {
  background-color: #08323c;
  border-color: #08323c;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #08323c;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #43c7e6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #4ba8e2;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffefc9;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.40625rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #08323c !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.40625rem;
}
blockquote {
  border-color: #08323c;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #08323c;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #08323c;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #08323c;
  border-bottom-color: #08323c;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #08323c !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #d4fe00 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2308323c' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.mbr-section-btn .btn,
.mbr-section-btn-main .btn {
  line-height: 165%;
  letter-spacing: 1px;
  padding: 20px 40px;
  box-shadow: none;
}
@media (max-width: 992px) {
  .mbr-section-btn .btn,
  .mbr-section-btn-main .btn {
    padding: 14px 40px;
  }
}
.mbr-section-btn .btn:hover,
.mbr-section-btn-main .btn:hover,
.mbr-section-btn .btn:focus,
.mbr-section-btn-main .btn:focus {
  box-shadow: none;
}
.mbr-section-btn .btn-primary-outline,
.mbr-section-btn-main .btn-primary-outline {
  border: 1px solid #08323c;
}
.mbr-section-btn .btn-primary-outline:hover,
.mbr-section-btn-main .btn-primary-outline:hover,
.mbr-section-btn .btn-primary-outline:focus,
.mbr-section-btn-main .btn-primary-outline:focus {
  color: #ffffff !important;
  background-color: #08323c !important;
}
.mbr-section-btn .btn-secondary-outline,
.mbr-section-btn-main .btn-secondary-outline {
  border: 1px solid #d4fe00;
}
.mbr-section-btn .btn-secondary-outline:hover,
.mbr-section-btn-main .btn-secondary-outline:hover,
.mbr-section-btn .btn-secondary-outline:focus,
.mbr-section-btn-main .btn-secondary-outline:focus {
  color: #08323c !important;
  background-color: #d4fe00 !important;
}
.mbr-section-btn .btn-success-outline,
.mbr-section-btn-main .btn-success-outline {
  border: 1px solid #0a2a3e;
}
.mbr-section-btn .btn-success-outline:hover,
.mbr-section-btn-main .btn-success-outline:hover,
.mbr-section-btn .btn-success-outline:focus,
.mbr-section-btn-main .btn-success-outline:focus {
  color: #ffffff !important;
  background-color: #0a2a3e !important;
}
.mbr-section-btn .btn-info-outline,
.mbr-section-btn-main .btn-info-outline {
  border: 1px solid #ffffff;
}
.mbr-section-btn .btn-info-outline:hover,
.mbr-section-btn-main .btn-info-outline:hover,
.mbr-section-btn .btn-info-outline:focus,
.mbr-section-btn-main .btn-info-outline:focus {
  color: #08323c !important;
  background-color: #ffffff !important;
}
.mbr-section-btn .btn-warning-outline,
.mbr-section-btn-main .btn-warning-outline {
  border: 1px solid #ffd263;
}
.mbr-section-btn .btn-warning-outline:hover,
.mbr-section-btn-main .btn-warning-outline:hover,
.mbr-section-btn .btn-warning-outline:focus,
.mbr-section-btn-main .btn-warning-outline:focus {
  color: #08323c !important;
  background-color: #ffd263 !important;
}
.mbr-section-btn .btn-danger-outline,
.mbr-section-btn-main .btn-danger-outline {
  border: 1px solid #fcb300;
}
.mbr-section-btn .btn-danger-outline:hover,
.mbr-section-btn-main .btn-danger-outline:hover,
.mbr-section-btn .btn-danger-outline:focus,
.mbr-section-btn-main .btn-danger-outline:focus {
  color: #ffffff !important;
  background-color: #fcb300 !important;
}
.mbr-section-btn .btn-black-outline,
.mbr-section-btn-main .btn-black-outline {
  border: 1px solid #000000;
}
.mbr-section-btn .btn-black-outline:hover,
.mbr-section-btn-main .btn-black-outline:hover,
.mbr-section-btn .btn-black-outline:focus,
.mbr-section-btn-main .btn-black-outline:focus {
  color: #ffffff !important;
  background-color: #000000!important;
}
.mbr-section-btn .btn-white-outline,
.mbr-section-btn-main .btn-white-outline {
  border: 1px solid #ffffff;
}
.mbr-section-btn .btn-white-outline:hover,
.mbr-section-btn-main .btn-white-outline:hover,
.mbr-section-btn .btn-white-outline:focus,
.mbr-section-btn-main .btn-white-outline:focus {
  color: #08323c !important;
  background-color: #ffffff !important;
}
.cid-tyFwHNKP0f .navbar-dropdown {
  background-color: #d4fe00 !important;
  padding: 0;
}
.cid-tyFwHNKP0f .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background-color: #d4fe00 !important;
  background: #d4fe00;
}
.cid-tyFwHNKP0f .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
@media (max-width: 991px) {
  .cid-tyFwHNKP0f .menu_box .navbar.opened,
  .cid-tyFwHNKP0f .menu_box .navbar-collapse {
    background-color: #d4fe00 !important;
    transition: all 0s ease 0s;
  }
}
.cid-tyFwHNKP0f .navbar-dropdown {
  position: relative !important;
}
.cid-tyFwHNKP0f .icons-menu-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-tyFwHNKP0f .icons-menu-main {
    max-width: 100%;
    margin: 1rem 0 1rem 1rem;
    display: flex;
  }
}
.cid-tyFwHNKP0f .mbr-section-btn-main {
  display: none;
}
@media (max-width: 991px) {
  .cid-tyFwHNKP0f .mbr-section-btn-main {
    margin-top: 1rem;
    display: block;
  }
}
.cid-tyFwHNKP0f .btn {
  min-height: auto;
  box-shadow: none;
  margin-top: 0;
}
.cid-tyFwHNKP0f .btn:hover {
  box-shadow: none;
}
@media (min-width: 992px) {
  .cid-tyFwHNKP0f .offcanvas {
    padding: 12rem 64px 0;
    width: 50%;
    background-color: #08323c;
  }
  .cid-tyFwHNKP0f .offcanvas_image img {
    width: auto;
    object-fit: cover;
    display: inline-block;
  }
  .cid-tyFwHNKP0f .offcanvas-header {
    position: relative;
    padding: 0;
  }
  .cid-tyFwHNKP0f .offcanvas-header .btn-close {
    position: absolute;
    top: -70px;
    right: 0;
    width: 35px;
    height: 30px;
  }
  .cid-tyFwHNKP0f .offcanvas-body {
    text-align: center;
    padding: 0;
  }
  .cid-tyFwHNKP0f .offcanvas-body .mbr-text,
  .cid-tyFwHNKP0f .offcanvas-body .mbr-section-subtitle {
    margin-bottom: 32px;
  }
  .cid-tyFwHNKP0f .offcanvas-body .offcanvas_contact {
    margin: 0;
  }
  .cid-tyFwHNKP0f .offcanvas_box button.btn_offcanvas {
    outline: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
  }
  .cid-tyFwHNKP0f .offcanvas_box button.btn_offcanvas .hamburger span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 2px;
    border-right: 5px;
    background-color: #08323c;
  }
  .cid-tyFwHNKP0f .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(1) {
    top: 18px;
    transition: all 0.2s;
  }
  .cid-tyFwHNKP0f .offcanvas_box button.btn_offcanvas .hamburger span:nth-child(2) {
    top: 25px;
    transition: all 0.2s;
  }
  .cid-tyFwHNKP0f .offcanvas_box button.btn_offcanvas:hover .hamburger span {
    width: 36px;
  }
  .cid-tyFwHNKP0f .offcanvas_box button.btn_offcanvas:hover .hamburger span:nth-child(2) {
    width: 33px;
    transition-delay: 0.2s;
  }
  .cid-tyFwHNKP0f ul.navbar-nav {
    padding-bottom: 1.5rem;
  }
  .cid-tyFwHNKP0f .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tyFwHNKP0f .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
  }
  .cid-tyFwHNKP0f .link.dropdown-toggle::after {
    padding: 0 !important;
    transform: rotate(45deg);
  }
  .cid-tyFwHNKP0f li.nav-item {
    position: relative;
    display: inline-block;
    padding: 1px 7px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
  }
  .cid-tyFwHNKP0f .lg_brand {
    margin: 0 1rem;
  }
}
.cid-tyFwHNKP0f .nav-item {
  margin: 4px 15px;
}
@media (min-width: 1200px) {
  .cid-tyFwHNKP0f .nav-item {
    margin: 4px 20px;
  }
}
@media (max-width: 991px) {
  .cid-tyFwHNKP0f .nav-item {
    margin: 0 !important;
  }
}
.cid-tyFwHNKP0f .nav-item .nav-link {
  transition: all 0.3s ease-out;
}
.cid-tyFwHNKP0f .nav-item .nav-link:hover {
  opacity: .5;
}
.cid-tyFwHNKP0f .dropdown-menu {
  border-radius: 0;
  box-shadow: none;
  text-align: left;
}
@media (min-width: 992px) {
  .cid-tyFwHNKP0f .dropdown-menu {
    padding: 18px 34px 22px;
    min-width: 250px;
    top: auto !important;
    left: -40px !important;
  }
  .cid-tyFwHNKP0f .dropdown-menu.dropdown-submenu {
    left: 215px !important;
    top: -45% !important;
  }
}
@media (max-width: 991px) {
  .cid-tyFwHNKP0f .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]::after,
  .cid-tyFwHNKP0f .link.dropdown-toggle::after {
    display: inline-block;
    width: 7px;
    height: 7px;
    margin-left: .5rem;
    margin-bottom: 2px;
    content: "";
    border: 2px solid;
    border-left: none;
    border-top: none;
    transform: rotate(-45deg);
    right: 15px;
    position: absolute;
    margin-top: -2px;
  }
  .cid-tyFwHNKP0f .show.dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(45deg);
    margin-top: -4px;
  }
  .cid-tyFwHNKP0f .offcanvas_box {
    display: none;
  }
}
.cid-tyFwHNKP0f .dropdown-item {
  border: none;
  font-weight: 300 !important;
}
.cid-tyFwHNKP0f .nav-dropdown .link {
  font-weight: 600 !important;
  padding: 0 !important;
  margin: 0 !important;
}
.cid-tyFwHNKP0f .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0;
}
.cid-tyFwHNKP0f .container {
  display: flex;
  margin: auto;
}
.cid-tyFwHNKP0f .iconfont-wrapper {
  color: #ffffff;
  font-size: 17px;
  margin-right: 10px;
  margin-bottom: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}
.cid-tyFwHNKP0f .iconfont-wrapper:last-child {
  margin-right: 0;
}
.cid-tyFwHNKP0f .iconfont-wrapper:hover {
  opacity: .5;
}
.cid-tyFwHNKP0f .navbar-nav {
  margin: 0 1rem;
}
@media (min-width: 992px) {
  .cid-tyFwHNKP0f .navbar-nav {
    margin: 0;
  }
}
.cid-tyFwHNKP0f .dropdown-menu,
.cid-tyFwHNKP0f .navbar.opened {
  background-color: false !important;
}
.cid-tyFwHNKP0f .nav-item:focus,
.cid-tyFwHNKP0f .nav-link:focus {
  outline: none;
}
.cid-tyFwHNKP0f .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-tyFwHNKP0f .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tyFwHNKP0f .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-right: 0.5rem;
  vertical-align: sub;
}
.cid-tyFwHNKP0f .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-tyFwHNKP0f .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tyFwHNKP0f .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tyFwHNKP0f .navbar {
  min-height: 70px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
}
@media (max-width: 992px) {
  .cid-tyFwHNKP0f .navbar {
    min-height: 30px;
    max-height: none;
  }
}
.cid-tyFwHNKP0f .navbar.opened {
  transition: all 0.3s;
}
.cid-tyFwHNKP0f .navbar .dropdown-item {
  padding: 0;
  margin: 8px 0;
}
.cid-tyFwHNKP0f .navbar .navbar-logo img {
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}
.cid-tyFwHNKP0f .navbar .navbar-collapse {
  justify-content: space-between;
  z-index: 1;
}
.cid-tyFwHNKP0f .navbar.collapsed {
  justify-content: center;
}
.cid-tyFwHNKP0f .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-tyFwHNKP0f .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tyFwHNKP0f .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tyFwHNKP0f .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tyFwHNKP0f .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tyFwHNKP0f .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: left;
}
.cid-tyFwHNKP0f .navbar.collapsed .icons-menu {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tyFwHNKP0f .navbar .nav-item {
    padding: .5rem 0;
  }
  .cid-tyFwHNKP0f .navbar .navbar-collapse {
    padding: 34px 0;
    border-radius: 25px;
  }
  .cid-tyFwHNKP0f .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-tyFwHNKP0f .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tyFwHNKP0f .navbar .dropdown-menu {
    padding: 6px 0 6px 15px;
  }
  .cid-tyFwHNKP0f .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tyFwHNKP0f .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
    margin-top: -0.4rem;
  }
  .cid-tyFwHNKP0f .navbar .navbar-logo img {
    height: 3rem !important;
  }
  .cid-tyFwHNKP0f .navbar ul.navbar-nav {
    overflow: hidden;
  }
  .cid-tyFwHNKP0f .navbar ul.navbar-nav li {
    margin: 0;
  }
  .cid-tyFwHNKP0f .navbar .dropdown-menu .dropdown-item {
    padding: 0 !important;
    margin: 0;
    margin-top: 8px;
    text-align: left;
  }
  .cid-tyFwHNKP0f .navbar .navbar-brand {
    flex-shrink: initial;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-tyFwHNKP0f .navbar .navbar-toggler {
    flex-basis: auto;
  }
  .cid-tyFwHNKP0f .navbar .icons-menu {
    padding: 0;
  }
}
.cid-tyFwHNKP0f .navbar.navbar-short {
  min-height: 60px;
}
.cid-tyFwHNKP0f .navbar.navbar-short .navbar-logo img {
  height: 2.5rem !important;
}
.cid-tyFwHNKP0f .navbar.navbar-short .navbar-brand {
  min-height: 60px;
  padding: 0;
}
.cid-tyFwHNKP0f .navbar-brand {
  min-height: 70px;
  flex-shrink: 0;
  align-items: center;
  margin-right: 0;
  padding: 10px 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tyFwHNKP0f .navbar-brand .navbar-caption {
  line-height: inherit !important;
  font-weight: 600;
}
.cid-tyFwHNKP0f .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tyFwHNKP0f .dropdown-item.active,
.cid-tyFwHNKP0f .dropdown-item:active {
  background-color: transparent;
}
.cid-tyFwHNKP0f .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tyFwHNKP0f .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tyFwHNKP0f .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tyFwHNKP0f .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tyFwHNKP0f ul.navbar-nav {
  flex-wrap: wrap;
  padding: 0;
}
.cid-tyFwHNKP0f .navbar-buttons {
  text-align: center;
  min-width: 170px;
}
.cid-tyFwHNKP0f button.navbar-toggler {
  outline: none;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  align-self: center;
  color: #d4fe00;
  background: #ffffff;
}
.cid-tyFwHNKP0f button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #08323c;
}
.cid-tyFwHNKP0f button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tyFwHNKP0f button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tyFwHNKP0f button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tyFwHNKP0f button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tyFwHNKP0f nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tyFwHNKP0f nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tyFwHNKP0f nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tyFwHNKP0f nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tyFwHNKP0f a.nav-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.cid-tyFwHNKP0f .icons-menu {
  flex-wrap: nowrap;
  display: flex;
  padding: 0;
  text-align: center;
  margin-bottom: 35px;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tyFwHNKP0f .navbar {
    height: 70px;
  }
  .cid-tyFwHNKP0f .navbar.opened {
    height: auto;
  }
  .cid-tyFwHNKP0f .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tyFwHNKP0f .navbar-dropdown .navbar-logo {
  margin-right: 15px;
}
.cid-tyFwHNKP0f .container-fluid {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 992px) {
  .cid-tyFwHNKP0f .container-fluid {
    padding-left: 72px;
    padding-right: 72px;
  }
}
.cid-tyFwHNKP0f .mbr-section-btn-main {
  padding-top: 5px;
}
.cid-tyFwHNKP0f .mbr-section-btn-main .btn {
  margin: 0 4px 4px 4px;
}
@media (max-width: 992px) {
  .cid-tyFwHNKP0f .mbr-section-btn-main .btn {
    margin: 0 16px 4px;
  }
}
@media (max-width: 1400px) {
  .cid-tyFwHNKP0f .mbr-section-btn-main .btn {
    padding: 20px;
    margin-bottom: 14px;
  }
}
.cid-tyFwHNKP0f .navbar-caption:hover {
  opacity: .5;
}
@media (min-width: 992px) {
  .cid-tyFwHNKP0f .dropdown-menu.dropdown-submenu {
    left: 175px !important;
    top: -45% !important;
  }
}
.cid-tyFwHNKP0f .text_widget {
  margin-bottom: 32px;
}
.cid-tyFwHNKP0f .text_widget a {
  transition: all 0.3s ease-out;
}
.cid-tyFwHNKP0f .text_widget a:hover {
  color: #d4fe00 !important;
}
.cid-tyFwHNKP0f .mbr-section-subtitle {
  color: #ffffff;
  text-align: left;
}
.cid-tyFwHNKP0f .navbar-caption {
  color: #08323C;
}
.cid-tyFwHNKP0f .mbr-text {
  color: #ffffff;
  text-align: left;
}
.cid-tyFwHNKP0f .mbr-section-subtitle,
.cid-tyFwHNKP0f .text_widget,
.cid-tyFwHNKP0f .mbr-section-btn {
  text-align: left;
}
.cid-tyFwHNKP0f a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption):hover {
  background-image: none;
}
.cid-tyFwHXoM8c {
  overflow: hidden;
  background-color: #d4fe00;
}
.cid-tyFwHXoM8c .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFwHXoM8c .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tyFwHXoM8c .container {
    padding: 0 16px;
  }
}
.cid-tyFwHXoM8c .title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media (max-width: 992px) {
  .cid-tyFwHXoM8c .title-wrapper {
    margin-bottom: 40px;
    height: auto;
  }
}
.cid-tyFwHXoM8c .title-wrapper .title-wrap .mbr-section-title {
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-tyFwHXoM8c .title-wrapper .title-wrap .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-tyFwHXoM8c .title-wrapper .title-wrap .mbr-text {
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-tyFwHXoM8c .title-wrapper .title-wrap .mbr-text {
    margin-bottom: 40px;
  }
}
.cid-tyFwHXoM8c .image-wrapper {
  position: relative;
  margin-left: 70px;
  min-height: 620px;
}
@media (max-width: 768px) {
  .cid-tyFwHXoM8c .image-wrapper {
    min-height: 300px;
  }
}
.cid-tyFwHXoM8c .image-wrapper .image-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vh;
  height: 100%;
  border: 30px solid #08323c;
  border-radius: 40px;
}
@media (max-width: 768px) {
  .cid-tyFwHXoM8c .image-wrapper .image-wrap {
    border: 15px solid #08323c;
    border-radius: 20px;
  }
}
.cid-tyFwHXoM8c .image-wrapper .image-wrap .main-image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  object-fit: cover;
}
.cid-tyFwHXoM8c .image-wrapper .sec-image {
  position: absolute;
  bottom: 6rem;
  left: -4rem;
  height: 180px;
  width: 220px;
  object-fit: cover;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .cid-tyFwHXoM8c .image-wrapper .sec-image {
    display: none;
  }
}
.cid-tyFwHXoM8c .mbr-section-title {
  color: #08323C;
}
.cid-tyFwHXoM8c .mbr-text {
  color: #08323C;
}
.cid-tyFwIhOGGE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #08323c;
}
.cid-tyFwIhOGGE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFwIhOGGE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tyFwIhOGGE .container {
    padding: 0 16px;
  }
}
.cid-tyFwIhOGGE .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-tyFwIhOGGE .card-wrapper {
    margin-bottom: 40px;
  }
}
.cid-tyFwIhOGGE .card-wrapper .card-number .mbr-number {
  display: inline-flex;
  position: relative;
  margin-bottom: 20px;
}
.cid-tyFwIhOGGE .card-wrapper .card-number .mbr-number span {
  position: absolute;
  top: 0;
  right: -2rem;
  font-size: 50%;
  color: #d4fe00;
}
.cid-tyFwIhOGGE .card-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tyFwIhOGGE .mbr-number {
  color: #ffffff;
}
.cid-tyFwIhOGGE .mbr-text {
  color: #ffffff;
  text-align: center;
}
.cid-tyFwIhOGGE .card-number {
  text-align: center;
}
.cid-tyFwJqxE01 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  overflow: hidden;
  background-color: #ffffff;
}
.cid-tyFwJqxE01 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFwJqxE01 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tyFwJqxE01 .container {
    padding: 0 16px;
  }
}
.cid-tyFwJqxE01 .title-wrapper {
  display: flex;
  align-items: center;
  height: 100%;
}
.cid-tyFwJqxE01 .title-wrapper .title-wrap {
  position: relative;
  padding-right: 70px;
}
@media (max-width: 992px) {
  .cid-tyFwJqxE01 .title-wrapper .title-wrap {
    padding-right: 0;
  }
}
.cid-tyFwJqxE01 .title-wrapper .mbr-section-title {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .cid-tyFwJqxE01 .title-wrapper .mbr-section-title {
    margin-bottom: 20px;
  }
}
.cid-tyFwJqxE01 .title-wrapper .mbr-text {
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .cid-tyFwJqxE01 .title-wrapper .mbr-text {
    margin-bottom: 20px;
  }
}
.cid-tyFwJqxE01 .title-wrapper .line {
  position: absolute;
  top: -24rem;
  left: 70px;
  width: 80%;
  height: 80%;
  border: 2px dashed #08323c;
  border-top: none;
  border-right: none;
  border-bottom-left-radius: 16px;
}
@media (max-width: 992px) {
  .cid-tyFwJqxE01 .title-wrapper .line {
    display: none;
  }
}
.cid-tyFwJqxE01 .card .card-wrapper {
  padding: 24px;
  margin-bottom: 32px;
  background-color: #d4fe00;
  border-radius: 16px;
}
@media (max-width: 992px) {
  .cid-tyFwJqxE01 .card .card-wrapper {
    margin-bottom: 20px;
  }
}
.cid-tyFwJqxE01 .card .card-wrapper .icon-wrapper {
  margin-bottom: 24px;
}
@media (max-width: 992px) {
  .cid-tyFwJqxE01 .card .card-wrapper .icon-wrapper {
    margin-bottom: 16px;
  }
}
.cid-tyFwJqxE01 .card .card-wrapper .icon-wrapper .icon-wrap {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 100%;
}
.cid-tyFwJqxE01 .card .card-wrapper .icon-wrapper .icon-wrap:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  opacity: .6;
  border-radius: 100%;
}
.cid-tyFwJqxE01 .card .card-wrapper .icon-wrapper .icon-wrap .mbr-iconfont {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  font-size: 30px;
  background-color: #ffffff;
  color: #08323c;
  border-radius: 100%;
  z-index: 1;
}
.cid-tyFwJqxE01 .card .card-wrapper .content-wrapper .mbr-section-title {
  margin-bottom: 16px;
}
.cid-tyFwJqxE01 .card .card-wrapper .content-wrapper .mbr-text {
  margin-bottom: 0;
}
.cid-tyFwJqxE01 .mbr-section-title {
  color: #08323C;
}
.cid-tyFwJqxE01 .mbr-text {
  color: #08323C;
}
.cid-tyFwKyuBMa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #d4fe00;
}
.cid-tyFwKyuBMa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFwKyuBMa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tyFwKyuBMa .container {
    padding: 0 16px;
  }
}
.cid-tyFwKyuBMa .row {
  background-color: #08323c;
  border-radius: 40px;
  padding: 125px 20px;
}
@media (max-width: 992px) {
  .cid-tyFwKyuBMa .row {
    margin: 0;
  }
}
.cid-tyFwKyuBMa .row .image-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
}
.cid-tyFwKyuBMa .row .image-wrapper img {
  position: absolute;
  top: -12rem;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
}
@media (max-width: 768px) {
  .cid-tyFwKyuBMa .row .image-wrapper img {
    width: 120px;
    height: 120px;
  }
}
.cid-tyFwKyuBMa .row .image-wrapper .line {
  position: absolute;
  bottom: -7.8rem;
  width: 1px;
  height: 100%;
  border: 2px dashed #ffffff;
}
@media (max-width: 992px) {
  .cid-tyFwKyuBMa .row .image-wrapper .line {
    display: none;
  }
}
.cid-tyFwKyuBMa .row .title-wrapper .mbr-section-title {
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-tyFwKyuBMa .row .title-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-tyFwKyuBMa .row .title-wrapper .mbr-section-title span {
  color: #d4fe00;
}
.cid-tyFwKyuBMa .row .icon-wrapper {
  position: absolute;
  left: 0;
  bottom: 20px;
  padding: 0 20px;
}
.cid-tyFwKyuBMa .row .icon-wrapper .mbr-iconfont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 73px;
  width: 73px;
  background-color: #ffffff;
  color: #08323c;
  font-size: 30px;
  border-radius: 50%;
}
@media (max-width: 992px) {
  .cid-tyFwKyuBMa .row .icon-wrapper {
    display: none;
  }
}
.cid-tyFwKyuBMa .mbr-section-title {
  color: #ffffff;
}
.cid-tyFwKyuBMa .icon-wrapper {
  text-align: right;
}
.cid-tyFwMwJPf8 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tyFwMwJPf8 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFwMwJPf8 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tyFwMwJPf8 .container {
    padding: 0 16px;
  }
}
.cid-tyFwMwJPf8 .title-wrapper {
  position: relative;
}
.cid-tyFwMwJPf8 .title-wrapper .mbr-section-title {
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-tyFwMwJPf8 .title-wrapper .mbr-section-title {
    margin-bottom: 40px;
  }
}
.cid-tyFwMwJPf8 .title-wrapper .mbr-text {
  position: relative;
  z-index: 1;
  margin-bottom: 70px;
}
@media (max-width: 992px) {
  .cid-tyFwMwJPf8 .title-wrapper .mbr-text {
    margin-bottom: 40px;
  }
}
.cid-tyFwMwJPf8 .title-wrapper .mbr-section-btn {
  position: relative;
  z-index: 1;
}
.cid-tyFwMwJPf8 .title-wrapper .container-wrapper {
  position: absolute;
  top: -2.6rem;
  left: -1rem;
  height: 100%;
  width: 50%;
  border: 2px dashed #08323c;
  border-top: none;
  border-right: 0;
  border-bottom-left-radius: 16px;
}
@media (max-width: 992px) {
  .cid-tyFwMwJPf8 .title-wrapper .container-wrapper {
    display: none;
  }
}
.cid-tyFwMwJPf8 .mbr-section-title {
  color: #08323C;
}
.cid-tyFwMwJPf8 .mbr-text {
  color: #08323C;
  text-align: center;
}
.cid-tyFwMwJPf8 .mbr-section-title,
.cid-tyFwMwJPf8 .mbr-section-btn {
  text-align: center;
}
.cid-tyFwNKby28 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #08323c;
}
.cid-tyFwNKby28 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFwNKby28 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tyFwNKby28 .container {
    padding: 0 16px;
  }
}
.cid-tyFwNKby28 .card {
  position: relative;
  justify-content: center;
}
.cid-tyFwNKby28 .card .text-wrapper {
  padding: 100px 100px 100px 200px;
  background-color: #143c46;
  border-radius: 40px;
}
@media (max-width: 992px) {
  .cid-tyFwNKby28 .card .text-wrapper {
    padding: 100px 24px 32px 24px;
  }
}
.cid-tyFwNKby28 .card .text-wrapper .mbr-text {
  margin-bottom: 40px;
}
.cid-tyFwNKby28 .card .text-wrapper .text-wrap {
  display: flex;
}
.cid-tyFwNKby28 .card .text-wrapper .text-wrap .icon-wrapper {
  margin-right: 20px;
}
.cid-tyFwNKby28 .card .text-wrapper .text-wrap .icon-wrapper .mbr-iconfont {
  font-size: 32px;
  color: #d4fe00;
}
.cid-tyFwNKby28 .card .text-wrapper .text-wrap .text-content {
  width: 100%;
}
.cid-tyFwNKby28 .card .text-wrapper .text-wrap .text-content .mbr-name {
  margin-bottom: 10px;
}
.cid-tyFwNKby28 .card .text-wrapper .text-wrap .text-content .mbr-desc {
  margin-bottom: 0;
}
.cid-tyFwNKby28 .card .image_1 {
  position: absolute;
  left: -90px;
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 16px;
  z-index: 1;
}
@media (max-width: 992px) {
  .cid-tyFwNKby28 .card .image_1 {
    position: static;
    margin: 0 auto -50px;
  }
}
.cid-tyFwNKby28 .mbr-text {
  color: #ffffff;
}
.cid-tyFwNKby28 .mbr-name {
  color: #ffffff;
}
.cid-tyFwNKby28 .mbr-desc {
  color: #dce2e3;
}
.cid-tyFwOCDE6d {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tyFwOCDE6d .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFwOCDE6d .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tyFwOCDE6d .container {
    padding: 0 16px;
  }
}
.cid-tyFwOCDE6d .row {
  padding: 90px 60px;
  border-radius: 40px;
  background-color: #eff1f2;
}
@media (max-width: 992px) {
  .cid-tyFwOCDE6d .row {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .cid-tyFwOCDE6d .row {
    padding: 20px 16px;
  }
}
.cid-tyFwOCDE6d .row .image-wrapper img {
  height: 440px;
  border-radius: 16px;
  object-fit: cover;
}
@media (max-width: 768px) {
  .cid-tyFwOCDE6d .row .image-wrapper img {
    height: 300px;
  }
}
.cid-tyFwPEyTIB {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background: #08323c;
}
.cid-tyFwPEyTIB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFwPEyTIB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tyFwPEyTIB .container {
  margin-right: 0;
}
@media (max-width: 992px) {
  .cid-tyFwPEyTIB .container {
    padding: 0 16px;
  }
}
.cid-tyFwPEyTIB .slider-wrap {
  padding-right: 0;
}
@media (max-width: 992px) {
  .cid-tyFwPEyTIB .slider-wrap {
    padding-right: 12px;
  }
}
.cid-tyFwPEyTIB .embla__slide {
  display: flex;
  justify-content: center;
  position: relative;
  min-width: 440px;
  max-width: 440px;
}
@media (max-width: 768px) {
  .cid-tyFwPEyTIB .embla__slide {
    min-width: 100%;
    max-width: 100%;
    margin-left: 1rem !important;
    margin-right: 1rem !important;
  }
}
.cid-tyFwPEyTIB .embla__slide .card-wrap {
  width: 100%;
}
.cid-tyFwPEyTIB .embla__slide .card-wrap .item-wrapper .image-wrap {
  margin-bottom: 30px;
}
.cid-tyFwPEyTIB .embla__slide .card-wrap .item-wrapper .image-wrap img {
  height: 230px;
  object-fit: cover;
  border-radius: 16px;
}
.cid-tyFwPEyTIB .embla__slide .card-wrap .content-wrap .desc-wrap {
  margin-bottom: 20px;
}
.cid-tyFwPEyTIB .embla__slide .card-wrap .content-wrap .desc-wrap .mbr-desc {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 4px 12px;
  border: 1px solid #ffffff;
  border-radius: 40px;
  margin-bottom: 0;
}
.cid-tyFwPEyTIB .embla__slide .card-wrap .content-wrap .card-title {
  margin-bottom: 14px;
}
.cid-tyFwPEyTIB .embla__slide .card-wrap .content-wrap .card-text {
  margin-bottom: 0;
}
.cid-tyFwPEyTIB .embla__button--next,
.cid-tyFwPEyTIB .embla__button--prev {
  display: flex;
}
.cid-tyFwPEyTIB .embla__button {
  bottom: -4.5rem;
  width: 56px;
  height: 56px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 50%;
  transition: all 0.3s;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-tyFwPEyTIB .embla__button:disabled {
  cursor: default;
  display: none;
}
.cid-tyFwPEyTIB .embla__button:hover {
  background: transparent;
  color: #d4fe00;
}
.cid-tyFwPEyTIB .embla__button.embla__button--prev {
  left: 0;
}
.cid-tyFwPEyTIB .embla__button.embla__button--next {
  right: auto;
  left: 20%;
}
@media (max-width: 767px) {
  .cid-tyFwPEyTIB .embla__button {
    bottom: -4.5rem;
  }
}
.cid-tyFwPEyTIB .embla {
  position: relative;
  width: 100%;
}
.cid-tyFwPEyTIB .embla__viewport {
  overflow: hidden;
  width: 100%;
}
.cid-tyFwPEyTIB .embla__viewport.is-draggable {
  cursor: grab;
}
.cid-tyFwPEyTIB .embla__viewport.is-dragging {
  cursor: grabbing;
}
.cid-tyFwPEyTIB .embla__container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.cid-tyFwPEyTIB .mbr-desc {
  color: #ffffff;
}
.cid-tyFwPEyTIB .card-title {
  color: #ffffff;
}
.cid-tyFwPEyTIB .card-text {
  color: #ffffff;
}
.cid-tyFwYSGIgc {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tyFwYSGIgc .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFwYSGIgc .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tyFwYSGIgc .container {
    padding: 0 16px;
  }
}
@media (max-width: 992px) {
  .cid-tyFwYSGIgc .image-wrapper {
    margin-bottom: 40px;
  }
}
.cid-tyFwYSGIgc .image-wrapper img {
  height: 460px;
  object-fit: cover;
  border-radius: 16px;
}
@media (max-width: 992px) {
  .cid-tyFwYSGIgc .image-wrapper img {
    height: 300px;
  }
}
.cid-tyFwYSGIgc .card-wrapper {
  margin-top: 15%;
  padding-top: 120px;
  background-color: #143c46;
  border-radius: 40px;
}
@media (max-width: 992px) {
  .cid-tyFwYSGIgc .card-wrapper {
    margin-top: 0;
  }
}
@media (max-width: 768px) {
  .cid-tyFwYSGIgc .card-wrapper {
    margin-top: 0;
    padding-top: 20px;
  }
}
.cid-tyFwYSGIgc .card-wrapper .mbr-section-title {
  padding: 0 100px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .cid-tyFwYSGIgc .card-wrapper .mbr-section-title {
    margin-bottom: 20px;
    padding: 0 20px;
  }
}
.cid-tyFwYSGIgc .card-wrapper .mbr-text {
  padding: 0 100px;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .cid-tyFwYSGIgc .card-wrapper .mbr-text {
    padding: 0 20px;
  }
}
.cid-tyFwYSGIgc .card-wrapper .icon-wrapper {
  padding: 0 20px 20px;
}
.cid-tyFwYSGIgc .card-wrapper .icon-wrapper .mbr-iconfont {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  background-color: #ffffff;
  color: #08323c;
  font-size: 20px;
  border-radius: 50%;
}
@media (max-width: 992px) {
  .cid-tyFwYSGIgc .card-wrapper .icon-wrapper {
    display: none;
  }
}
.cid-tyFwYSGIgc .mbr-section-title {
  color: #ffffff;
}
.cid-tyFwYSGIgc .mbr-text {
  color: #ffffff;
}
.cid-tyFwYSGIgc .icon-wrapper {
  text-align: right;
}
.cid-tyFwSB0OUa {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #d4fe00;
}
.cid-tyFwSB0OUa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFwSB0OUa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tyFwSB0OUa .container {
    padding: 0 16px;
  }
}
.cid-tyFwSB0OUa .list-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.cid-tyFwSB0OUa .list-wrapper .text-wrap .mbr-title {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .cid-tyFwSB0OUa .list-wrapper .text-wrap .mbr-title {
    margin-bottom: 20px;
  }
}
.cid-tyFwSB0OUa .list-wrapper .text-wrap .mbr-text {
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .cid-tyFwSB0OUa .list-wrapper .text-wrap .mbr-text {
    margin-bottom: 20px;
  }
}
@media (max-width: 992px) {
  .cid-tyFwSB0OUa .list-wrapper .list-wrap {
    margin-bottom: 40px;
  }
}
.cid-tyFwSB0OUa .list-wrapper .list-wrap .list {
  margin: 0;
  list-style: none;
  padding-left: 32px;
}
.cid-tyFwSB0OUa .list-wrapper .list-wrap .list .item-wrap {
  margin-bottom: 30px;
  list-style: none;
  position: relative;
  padding-left: 20px;
}
@media (max-width: 992px) {
  .cid-tyFwSB0OUa .list-wrapper .list-wrap .list .item-wrap {
    margin-bottom: 20px;
  }
}
.cid-tyFwSB0OUa .list-wrapper .list-wrap .list .item-wrap:before {
  position: absolute;
  left: -32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #08323c;
  background-color: transparent;
  border: 3px solid #08323c;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  font-weight: 600;
  font-size: 24px;
  content: "✓";
}
.cid-tyFwSB0OUa .dragArea.row {
  background-color: #ffffff;
  padding: 40px 30px;
  border-radius: 16px;
}
@media (max-width: 992px) {
  .cid-tyFwSB0OUa .dragArea.row {
    padding: 20px 16px;
    margin: 0;
  }
}
.cid-tyFwSB0OUa .dragArea.row .mbr-section-title {
  margin-bottom: 40px;
}
.cid-tyFwSB0OUa .dragArea.row .form-group {
  margin-bottom: 20px !important;
}
.cid-tyFwSB0OUa .dragArea.row .form-group .form-control-label {
  padding-left: 8px;
  margin-bottom: 6px;
}
.cid-tyFwSB0OUa .dragArea.row .form-group .form-control {
  padding: 14px;
  border: 1px solid #bbbbbb !important;
  box-shadow: none;
  background-color: transparent;
}
.cid-tyFwSB0OUa .dragArea.row .form-group .form-control:hover,
.cid-tyFwSB0OUa .dragArea.row .form-group .form-control:focus {
  border: 1px solid #bbbbbb !important;
  box-shadow: none;
}
.cid-tyFwSB0OUa .dragArea.row .form-group .form-check {
  padding-left: 2rem;
}
.cid-tyFwSB0OUa .dragArea.row .form-group .form-check .form-check-input:checked {
  background-color: #d4fe00;
  border-color: #d4fe00;
}
.cid-tyFwSB0OUa .dragArea.row .mbr-section-btn {
  width: 100%;
  margin-top: 30px;
}
.cid-tyFwSB0OUa .mbr-title {
  color: #08323C;
}
.cid-tyFwSB0OUa .mbr-section-title {
  color: #08323C;
  text-align: center;
}
.cid-tyFwSB0OUa .mbr-section-subtitle {
  color: #08323C;
}
.cid-tyFwSB0OUa .mbr-text {
  color: #08323C;
}
.cid-tyFwSB0OUa .list {
  color: #08323C;
}
.cid-tyFwSB0OUa label {
  color: #08323C;
}
.cid-tyFxfB38iE {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tyFxfB38iE .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFxfB38iE .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tyFxfB38iE .container {
    padding: 0 16px;
  }
}
.cid-tyFxfB38iE .row {
  justify-content: center;
}
@media (max-width: 992px) {
  .cid-tyFxfB38iE .card {
    margin-bottom: 40px;
  }
}
.cid-tyFxfB38iE .card .card-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.cid-tyFxfB38iE .card .card-wrapper .card-wrap .mbr-price {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  border: 2px dashed #08323c;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 40px;
}
.cid-tyFxfB38iE .card .card-wrapper .card-wrap .mbr-section-title {
  margin-bottom: 20px;
}
.cid-tyFxfB38iE .card .card-wrapper .card-wrap .mbr-text {
  margin-bottom: 30px;
}
.cid-tyFxfB38iE .mbr-section-title {
  color: #08323C;
}
.cid-tyFxfB38iE .mbr-text {
  color: #08323C;
  text-align: center;
}
.cid-tyFxfB38iE .mbr-price {
  color: #08323C;
  text-align: center;
}
.cid-tyFxfB38iE .mbr-section-title,
.cid-tyFxfB38iE .mbr-section-btn {
  text-align: center;
}
.cid-tyFwQCvdxU {
  padding-top: 5rem;
  padding-bottom: 2rem;
  background-color: #08323c;
}
.cid-tyFwQCvdxU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tyFwQCvdxU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
@media (max-width: 992px) {
  .cid-tyFwQCvdxU .container {
    padding: 0 16px;
  }
}
.cid-tyFwQCvdxU .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cid-tyFwQCvdxU .card {
    margin-bottom: 40px;
  }
}
.cid-tyFwQCvdxU .card .content-wrapper .title-wrapper .title-wrap {
  display: inline-flex;
  align-items: center;
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .cid-tyFwQCvdxU .card .content-wrapper .title-wrapper .title-wrap {
    margin-bottom: 40px;
  }
}
.cid-tyFwQCvdxU .card .content-wrapper .title-wrapper .title-wrap img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  margin-right: 1rem;
}
.cid-tyFwQCvdxU .card .content-wrapper .title-wrapper .title-wrap .mbr-section-title {
  margin-bottom: 0;
}
.cid-tyFwQCvdxU .card .content-wrapper .copyright {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .cid-tyFwQCvdxU .card .content-wrapper .copyright {
    margin-bottom: 40px;
  }
}
.cid-tyFwQCvdxU .card .social-wrapper .social-wrap {
  display: inline-flex;
  flex-wrap: wrap;
}
.cid-tyFwQCvdxU .card .social-wrapper .social-wrap .mbr-iconfont {
  font-size: 20px;
  margin-right: 48px;
  color: #ffffff;
}
.cid-tyFwQCvdxU .list-wrapper .mbr-card-title {
  margin-bottom: 16px;
}
.cid-tyFwQCvdxU .list-wrapper .list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.cid-tyFwQCvdxU .list-wrapper .list .item-wrap {
  margin-bottom: 16px;
}
@media (max-width: 992px) {
  .cid-tyFwQCvdxU .list-wrapper .list {
    margin-bottom: 40px;
  }
}
.cid-tyFwQCvdxU .mbr-section-title {
  color: #ffffff;
}
.cid-tyFwQCvdxU .copyright {
  color: #ffffff;
  text-align: left;
}
.cid-tyFwQCvdxU .mbr-card-title {
  color: #D4FE00;
}
.cid-tyFwQCvdxU .list {
  color: #ffffff;
}
.cid-tyFwQCvdxU .mbr-section-title,
.cid-tyFwQCvdxU .title-wrapper,
.cid-tyFwQCvdxU .social-wrapper {
  text-align: left;
}
